h1{
    text-align: center;
    font-family: arial;
    color: rgb(187, 44, 44);
}
body{
    background-color: rgb(226, 142, 142);
}
.img{
    width: 100px;
}
h2{
    font-family: arial;
    color: rgb(139, 17, 41);
}
p{
    font-family: arial;
    color: rgb(51, 6, 6);
}
h3{
    font-family: ARIAL;
    font-size: 40px;
    color: rgb(71, 16, 16);
}